<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='../static/output.css') }}" rel="stylesheet">
    <title>Tugas Kelompok Program TBA</title>
</head>
<body>
    <div class="flex flex-col items-center justify-center">
    <h1 class="font-bold text-red-500">Program Teori Bahasa dan Automata</h1>
    <button type="submit" onclick="">Tes DFA</button>
    <button type="submit" onclick="">Tes DFA</button>
    <button class="rounded-[20px] bg-gray-500 p-2 border-2 border-red-500" type="submit" onclick="">Minimization DFA</button>
    <button type="submit" onclick="">Tes DFA</button>
    </div>
</body>
</html>